@import "../../variables";

.formContainer {
  @include makeFlex(column, 10px);
  align-items: flex-start;
  margin: auto;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  width: 60%;
  min-width: 436px;
  background-color: white;

  @media screen and (max-width: 1100px) {
    width: 95%;
  }

  .fullName {
    @include makeFlex(row, 10px);
    align-items: flex-start;
    width: 100%;
  }

  label {
    font-weight: 600;
  }

  .phoneNumber {
    @include makeFlex(row, 10px);
    align-items: flex-start;
    width: 100%;
    * {
      width: fit-content;
      &:last-child {
        width: 100%;
      }
    }
  }

  .situationContainer {
    @include makeFlex(row, 20px);
    align-items: flex-start;
    label {
      display: block;
      margin-bottom: 10px;
    }
  }

  .btn {
    @include makeFlex(row, 10px);
    width: 100%;
    justify-content: flex-end;

    button[type="button"] {
      background-color: $btnCancelBackground;
      &:hover {
        background-color: $btnCancelBackground + 10;
      }
    }
  }
}
