@import "../../variables";

.btn {
  border: none;
  padding: 1rem 1.5rem;
  color: $lightText;
  background-color: $primary;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: $primary + 20;
  }
  &:disabled {
    background-color: rgb(179, 179, 179);
    color: rgb(48, 48, 48);
    cursor: not-allowed;
  }
}

.btnCancel {
  background-color: $btnCancelBackground;
  &:hover {
    background-color: $btnCancelBackground + 10;
  }
}
